#table {
	padding: 10px;
	border-style: double;
	width: 425px;
}

#table th {
	padding-left: 15px;
}

#header {
	border-style: double;
	width: 425px;
	margin-top: 40px;
}

#header h1 {
	margin-left: 10px;
}

#userform {
	display: inline-block;
	width: 300px;
}

#userform {
	margin-top: 15px;
	margin-left: 20px;
}

#userform label {
	margin-top: 10px;
}

